
/* BOX SIZING ska gälla för alla boxar utom de som har UNSET */
*, *::before, *::after {box-sizing: inherit}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c7e5e4;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GENERAL */

article {
  width:200px;
  height: 300px;
  margin: 20px;
  box-sizing: border-box;
}

.deck {
  width:200px;
  height: 300px;
  /* margin: 50px 200px; */
  border-radius: 20px;
  background: linear-gradient(225deg, #b3cecd, #d5f5f4);
  box-shadow:  -10px 10px 20px #b9d5d4, 
               10px -10px 20px #d5f5f4;
}

span {
  font-size: 140px;
  margin-top: 200px;
}
/* HEADER */

/*see header.css*/


/* FLIPPING PAGE */
.fullFlippingPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c7e5e4;
  margin: 50px 0px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flipCard {
  /* background-color: transparent; */
  width: 200px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 20px;
background: linear-gradient(225deg, #b3cecd, #d5f5f4);
box-shadow:  -10px 10px 20px #b9d5d4, 
             10px -10px 20px #d5f5f4;

}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  background-color: #c7e5e4;
  color: black;
  border-radius: 20px;
  /* background-image: url(/assets/thread1.jpg);
  
  background-repeat: no-repeat; */
}

/* Style the back side */
.flipCardBack{
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px;
background: linear-gradient(225deg, #b3cecd, #d5f5f4);
box-shadow:  -10px 10px 20px #b9d5d4, 
             10px -10px 20px #d5f5f4;
}

/* Text, links and images on the back side */
.cardWrap {
  padding-top: 0px;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}

.cardWrapLink {
  margin: -250px 10px;
  padding: 10px;
  border-radius: 10px;  
  background: linear-gradient(225deg, #b3cecd, #d5f5f4);
  box-shadow:  -10px 10px 20px #b9d5d4, 
             10px -10px 20px #d5f5f4;
}

.cardWrap img{
  color: white;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
box-shadow:  -10px 10px 20px #b9d5d4, 
             10px -10px 20px #d5f5f4;
}

/* PAGE NAVIGATION */
.page {
  position: relative;
}

.page .back {
  display: inline-flex;
  /* justify-content: space-between; */
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 50px;
}

.page .back svg {
  width: 30px;
  margin-right: 1px;
  transition: margin-right 0.2s ease-out;
}

.page .back:hover svg {
  margin-right: 5px;
}

.cardPicker {
  margin: 50px;
  color: white;
}
